{
  "parser": "babel-eslint",
  "plugins": ["react"],
  "extends": ["eslint:recommended", "plugin:react/recommended"],
  "env": {
    "browser": true,
    "node": true
  },
  "rules": {
    "comma-dangle": [
      "error",
      "only-multiline"
    ],
    "indent": [
      "error",
      2
    ],
    "linebreak-style": [
      "error",
      "unix"
    ],
    "no-console": [
      "error",
      {
        "allow": ["warn", "error"]
      }
    ],
    "no-unused-vars": [
      "error",
      {
        "varsIgnorePattern": "^_"
      }
    ],
    "quotes": [
      "error",
      "single",
      "avoid-escape"
    ],
    "semi": [
      "error",
      "never"
    ]
  }
}
