@import 'normalize.css';
@import 'flexboxgrid';

:local(.className) {
  font: medium 'Catamaran', sans-serif;

  a {
    color: hsl(210, 50%, 50%);
    text-decoration: none;
  }

  input {
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 1em;
  }
}
