@import 'normalize.css';
@import 'flexboxgrid';

:local(.className) {
  font: medium 'Catamaran', sans-serif;

  a {
    color: hsl(210, 50%, 50%);
    text-decoration: none;
  }

  input {
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 1em;
  }

  .brush {
    position: fixed;
    top: 0;
    bottom: 0;
    width: 1px;
    background-color: hsla(0, 0%, 0%, .8);
    pointer-events: none;
  }
}
