:local(.className) {
  height: 2em;
  font-size: small;

  svg {
    overflow: visible;
  }

  .axis {
    shape-rendering: crispEdges;

    line, path {
      fill: none;
      stroke: black;
    }
  }
}
