:local(.className) {
  height: 2em;
  font-size: small;

  .rule {
    position: fixed;
    top: 0;
    bottom: 0;
    width: 1px;
    background-color: hsla(0, 0%, 0%, .3);
    pointer-events: none;
  }

  svg {
    overflow: visible;
  }

  text.count {
    text-anchor: end;
  }

  .axis {
    shape-rendering: crispEdges;

    line, path {
      fill: none;
      stroke: black;
    }
  }
}
