:local(.className) {
  height: 1.5em;
  .name & {
    height: 4em;
  }
  font-size: x-small;

  .axis {
    shape-rendering: crispEdges;

    line, path {
      fill: none;
      stroke: black;
    }
  }

  g.gender {
    &.F path {
      fill: hsla(0, 50%, 50%, .5);
    }

    &.M path {
      fill: hsla(240, 50%, 50%, .5);
    }
  }
}
