:local(.className) {
  position: relative;
  height: 1.5em;
  &.lg { height: 4em; }

  label {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
  }

  g.count text {
    text-anchor: end;
    font-size: x-small;

    &.F { fill: hsla(30, 100%, 40%, .9) }
    &.M { fill: hsla(240, 100%, 40%, .9) }
  }
  &.lg g.count text { font-size: medium; }

  g.gender {
    &.F rect { fill: hsla(20, 80%, 60%, .25) }
    &.M rect { fill: hsla(230, 80%, 60%, .25) }
  }
}
