:local(.className) {
  .remove {
    opacity: 0;
    transition: opacity .2s;
  }
  &:hover .remove {
    opacity: 1;
  }

  .material-icons {
    display: block;
  }

  h3 {
    text-transform: capitalize;
    font-size: large;
    margin: 0;
  }

  h6 {
    font-size: x-small;
    font-weight: normal;
    margin: 0;
  }
}
